@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
body {
    font-family: 'Tajawal', sans-serif;
}


[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}


p {

}

img {
    width: 100%;
    height: auto;
}


a{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

a:hover {
    color: inherit;
    text-decoration: none;
    color: #ff0000;
}


.top_par{
    direction: rtl;
    border-bottom: 1px solid #ddd;
}

.login_box{
    float: right;
    background: #fff;
    padding: 0;
    margin: 8px 0;
    border: 1px solid #ff0000;
    border-radius: 25px;
    overflow: hidden;
}
.login_box i{
    float: right;
    background: #ff0000;
    color: #fff;
    padding: 5px 10px;
}
.login_box p{
    float: right;
    margin: 0;
    padding: 0 15px;
}
.login_box p a{
    color: #000;
    font-size: 14px;
}

.box_favorite{
    overflow: hidden;
    padding: 10px 0 0 0;
}

.box_favorite p{
    margin: 3px 30px 0 0;
    float: right;
    font-size: 14px;
}

.box_favorite p a{
    color: #000;
    position: relative;
    font-size: 20px;
}

.box_favorite p a:hover{
    color: #ff0000;
}
.box_favorite p a em{
    position: absolute;
    background: #f00;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    font-style: normal;
    top: -9px;
    left: -11px;
    font-size: 14px;
}

.menu_top_header{

}

.menu_top_header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.menu_top_header ul li{
    display: -webkit-inline-box;
    position: relative;
}

.menu_top_header ul li a{
    color: #fff;
    font-size: 14px;
    margin: 0 0 0 25px;
    line-height: 43px;
}
.menu_top_header ul li a:hover{
    color: #ff0000;
}

.add_ads{
    overflow: hidden;
    background: #ff0000;
}

.add_ads i{
    float: right;
    color: #fff;
    font-size: 24px;
    background: #000;
    padding: 10px;
}

.add_ads p{
    text-align: center;
    line-height: 42px;
    margin: 0;
}

.add_ads a{
    color: #fff;
}
.add_ads:hover{
    opacity: 0.8;
}

.list_more_menu{
    right: 0;
    top: 8px !important;
}


.menu_top_header ul li .list_more_menu a{
    color: #000;
    line-height: initial;
    text-align: right;
}
.menu_top_header ul li .list_more_menu a:hover{
    background: #ddd;
}

.search_home{
    direction: rtl;
    padding: 20px 0;
}

.logo{
    text-align: right;
}
.logo img{

}

.block_search{
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding: 2px;
}

.block_search .input-group-append .input-group-text{
    background: transparent;
    border-radius: 5px !important;
    border: 0;
    color: #f00;
    width: 40px;
    padding: 0;
    text-align: center;
    display: block;
    line-height: 36px;
    font-size: 20px;
}

.block_search .select2-container {
    width: 85% !important;
}
.block_search .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    height: auto;
}
.block_search .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #a59696;
    line-height: 36px;
}
.block_search .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
    border: 0;
}
.style_form{
    border: 0;
    font-size: 16px;
}

.btn_search{
    border: 0;
    display: block;
    background: #ff0000;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    font-size: 24px;
    padding: 3px 0;
}

.menu_main{
    direction: rtl;
}

.menu_main .card{
    border: 0;
}

.top_menu{
    background: #eee;
}
.top_menu .card-header{
    background: transparent;
    border: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.btn_menu{
    float: right;
    padding: 15px 15px 10px 15px;
    margin: 0;
    line-height: normal;
    color: #1b78bc;
    cursor: pointer;
}

.btn_menu.active{
    background: #ff0000;
    color: #fff;
    border-radius: 0;
}
.btn_menu label i{
    color: #ff0000;
    font-size: 17px;
    margin: 0 0 0 3px;
}
.btn_menu label{
    cursor: pointer;
}

.owl-carousel{
    direction: ltr;
}

.owl-carousel .owl-item .logo_slider{
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
}

.owl-carousel .owl-item .logo_slider img{
    width: 100%;
    margin: auto;
}

.name_logo{
    display: block;
    text-align: center;
    color: #000;
    margin: 5px 0 0 0;
    font-size: 12px;
}

.mian_content{
    direction: rtl;
    text-align: right;
}

.search_adv{
    background: #f5f5f5;
    border: 1px solid #eee;
    padding: 15px 0;
    overflow: hidden;
}

.search_adv h3{
    text-align: right;
    font-size: 17px;
    margin: 0 0 15px 0;
}

.st_select ,
.search_adv .select2-container--default .select2-selection--single{
    margin: 0 0 15px 0;
    border: 1px solid #ddd;
    height: auto !important;
    padding: 5px;
}


.btn_search_aside{
    float: right;
    background: #ff0000;
    color: #fff;
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
}

.search_adv .select2-container--default .select2-selection--single .select2-selection__rendered{
    text-align: right;
    padding-right: 5px;
}

.search_adv .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    left: 1px;
    width: 20px;
    right: auto;
}

.btn_change_view{
    float: right;
    background: #dddddd00;
    color: #5e5e5e;
    padding: 0 0;
    border-radius: 0;
    border: 1px solid #ddd;
    width: 40px;
    font-size: 24px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
}
.btn_change_view.active ,
.btn_change_view:hover{
    background: #ff0000;
    color: #fff;
}

.btn_change_view .fa-list{
    transform: rotate(180deg);
}

.view_img_only{
    width: 100%;
    font-size: 14px;
}


.view_list_item{
    border: 1px solid #eee;
    margin: 30px 0 0 0;
}

.img_block_ads{
    position: relative;
    height: 180px;
    overflow: hidden;
}
.img_block_ads img{
    width: 100%;
}
.img_block_ads span{
    position: absolute;
    top: 10px;
    right: 0;
    background: rgb(66 197 0);
    padding: 7px 15px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 25px 0 0 25px;
}


.tit_main_item{
    overflow: hidden;
    padding: 15px;
}

.tit_main_item h3{
    float: right;
    width: 100%;
    text-align: right;
    font-size: 19px;
    margin: 10px 0 0 0;
    line-height: 28px;
}
.tit_main_item h3 a{
    color: #000;
}
.tit_main_item h3 a:hover{
    text-decoration: underline;
}

.favorite_block{
    overflow: hidden;
}

.favorite_block label{
    float: right;
    margin: 30px 0 0 0;
    text-align: right;
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 17px;
}
.favorite_block label strong{

}

.add_favorite{
    float: right;
    margin: 30px 15px 0 0;
    border: 1px solid #ff0000;
    color: #ff0000;
    background: transparent;
    padding: 10px 15px;
    cursor: pointer;
}


.option_block{
    overflow: hidden;
    border-top: 1px solid #eee;
    position: relative;
    margin: 40px 0 0 0;
    padding: 0;
}
.option_block label{
    float: right;
    margin: 0;
    border-left: 1px solid #eee;
    padding: 8px 15px;
}
.option_block label a{
    font-size: 14px;
    color: #000;
}
.option_block span{
    font-weight: bold;
    color: #ff0000;
    font-size: 17px;
    padding: 8px 15px 0 0;
    display: block;
    float: right;
}

.view_grid_item{
    margin: 0 0 0 0;
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.view_grid_item .tit_main_item i {
    padding: 5px;
    margin: 10px 10px 0 0;
}

.view_grid_item .tit_main_item h3 {
    width: 100%;
    font-size: 16px;
    margin: 0;
    line-height: 22px;
}

.view_grid_item .img_block_ads img {
    min-height: 100%;
}

.view_grid_item .add_favorite,
.view_list_item .add_favorite {
    margin: 0 5px 0 0;
    border: 0;
    color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 9999;
    float: none;
    left: 0;
    font-size: 24px;
}


.view_grid_item .add_favorite.active,.view_grid_item .add_favorite:hover,
.view_list_item .add_favorite.active,.view_list_item .add_favorite:hover{
    color: #f00;
}

.view_grid_item .favorite_block label {
    margin: 14px 0 0 0;
    border: 0;
    padding: 5px 10px;
    font-size: 14px;
    width: 100%;
}

.view_grid_item .price_grid{
    background: #ff0000;
    color: #fff;
    margin: 13px 0 0 14px;
    display: block;
    text-align: center;
    padding: 5px 0;
    border-radius: 50px;
}

.view_grid_item .option_block {
    margin: 15px 0 0 0;
}

.view_grid_item .option_block label {
    float: right;
    margin: 0;
    border-left: 1px solid #ddd;
    padding: 8px 5px;
    font-size: 16px;
    text-align: center;
}
.view_grid_item .option_block label a {

}

.suggestion{
    background: #1b78bc;
    display: block;
    color: #fff;
    text-align: right;
    padding: 0;
    border-radius: 5px;
    line-height: 50px;
    margin-top: 50px;
}

.suggestion:hover{
    background: #ff0000;
    color: #fff;
}

.suggestion i{
    float: right;
    font-size: 24px;
    border-left: 1px solid #fff;
    line-height: 50px;
    padding: 0 15px;
    margin: 0 0 0 15px;
}

.text_bottom{
    overflow: hidden;
    margin: 30px 0;
    text-align: right;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    font-size: 14px;
    display: flex;
    direction: rtl;
    align-items: center;
}

.text_bottom img{
    width: 125px;
    float: right;
    margin: 0 0 0 15px;
}

.text_bottom p{
    margin: 0;
    line-height: 30px;
}

.footer{
    background: url("../img/bg_footer.png");
    direction: rtl;
}

.menu_footer{
    display: block;
    text-align: right;
    color: #000;
    font-size: 14px;
    margin: 0 0 10px 0;
}
.menu_footer:hover{
    text-decoration: underline;
}

.copy_right{
    text-align: center;
    border-top: 1px solid #ddd;
    margin: 15px 0 0 0;
    padding: 15px 0;
}

.copy_right p{
    font-size: 14px;
}

.social_footer{
    text-align: center;
}

.social_footer a{
    display: inline-block;
    border: 1px solid #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px;
    color: #000;
}

.social_footer a:hover{
    color: #fff;
    background: #1b78bc;
    border: 1px solid #1b78bc;
}

.result_search{
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 30px 0 0 0;
    padding: 15px;
    direction: rtl;
    text-align: right;
}
.result_search h3{
    color: #1b78bc;
    font-size: 18px;
}
.result_search ul{
    margin: 30px 0 0 0;
    padding: 0;
    list-style-type: none;
}
.result_search ul li{
    font-size: 12px;
    float: right;
    margin: 0 0 0 15px;
}

.result_search ul li em{
    font-style: normal;
    color: #919191
}

.result_search ul li i{
    font-size: 10px;
}

.breadcrumb_block{
    background: #f5f5f5;
    direction: rtl;
    padding: 5px 0;
    box-shadow: 0px 3px 5px #d4d0d0;
    margin: 0 0 30px 0;
}

.breadcrumb_block .breadcrumb{
    background: transparent;
    margin: 0;
}

.breadcrumb_block .breadcrumb-item a{
    color: #1b78bc;
}

.breadcrumb_block .breadcrumb-item+.breadcrumb-item::before {
    content: "\f0d9";
    font: normal normal normal 14px/1 FontAwesome;
    color: #000000;
}
.breadcrumb_block .breadcrumb-item.active {
    color: #000000;
}

.price_view{
    text-align: center;
    border: 1px solid #1b78bc;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0 0 15px 0;
}

.price_view label{
    display: block;
    font-size: 36px;
    font-family: tahoma;
    color: #1b78bc;
    margin: 0;

}

.price_view small{
    color: #1b78bc;
}
.price_view p{
    margin: 0;
    text-align: right;
    padding: 5px 15px;
    font-size: 18px;
}
.price_view p a{
    color: #000;
}


.number_phone{
    background: #1b78bc;
    display: block;
    color: #fff;
    text-align: right;
    padding: 0 15px 0 0;
    border-radius: 5px;
    line-height: 50px;
    font-family: tahoma;
    font-size: 18px;
}

.number_phone a{
    display: block;
    float: left;
    color: #fff;
}

.number_phone a .fa-whatsapp{
    color: #ffffff;
    background: #00b147;
}

.number_phone a:hover{

}

.number_phone i{
    float: left;
    font-size: 24px;
    border-right: 1px solid #fff;
    line-height: 50px;
    padding: 0 15px;
    margin: 0 0 0 0;
}


.send_mass{
    background: #ff0000;
    display: block;
    color: #fff;
    text-align: right;
    padding: 0 15px 0 0;
    border-radius: 5px;
    line-height: 50px;
}

.send_mass:hover{
    background: #1b78bc;
    color: #fff;
}

.send_mass i{
    float: left;
    font-size: 24px;
    line-height: 50px;
    padding: 0 15px;
    margin: 0 15px 0 0;
}

.map_ads{
    overflow:hidden;
    margin: 15px 0 0 0;
    border-radius: 5px;
}

.block_gallry{
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: right;
}

.tit_main_view{
    overflow: hidden;
}
.tit_main_view h3{
    font-size: 24px;
    margin: 0 0 20px 0;
}
.tit_main_view p{
    float: right;
    margin: 0 0 0 30px;
    font-size: 12px;
}

.slider_view{
    margin: 15px 0 0 0;
    border-top: 1px solid #ddd;
    padding: 15px 0 0 0;
}

.slider_view .carousel-item img {
    height: 470px;
}
.thmb_slider_hotels {
    display: block;
    left: 0;
    right: 0;
    position: relative;
    margin: 15px 0 0 0;
    top: 100%;
}
.thmb_slider_hotels li {
    text-indent: inherit;
    width: 8.83%;
    height: 50px;
    float: left;
    margin: 5px 10px 0 0;
}

.block_description{
    direction: rtl;
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 30px 0 0 0;
    padding: 15px;
    background: #f5f5f5;
}

.block_description h3{
    font-size: 18px;
    margin: 5px 0 25px 0;

}

.block_description p{
    line-height: 34px;
    font-size: 18px;
}

.description_table{
    background: #fff;
    margin: 0 0 30px 0;
}

.share_ads{
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 30px;
    direction: ltr;
}

.share_ads label{
    margin: 0 15px 0 0;
}

.share_ads label a{
    color: #1b78bc
}
.share_ads label a i{
    color: red;
}

.share_ads span{
    margin: 0 15px 0 0;
    color: #1b78bc
}

.share_ads .btn_add_fav{
    border: 0;
    background: transparent;
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
}

.write_comments{
    text-align: right;
    margin: 50px 0 30px 0;
}

.write_comments h3{
    font-size: 18px;
    margin: 0 0 15px 0;
}

.write_comments .btn{
    background: #ff0000;
    border-color: #ff0000;
}

.view_comment{
    direction: rtl;
    text-align: right;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.view_comment img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: right;
}

.view_comment div{
    float: right;
    width: 90%;
    padding: 0 15px 0 0;
}

.view_comment div h3{
    font-size: 18px;
    margin: 0 0 15px 0;
}

.view_comment p{
    font-size: 14px;
    line-height: 24px;
}

.view_comment span{
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 12px;
    color: #909090;
}

.view_comment label{
    direction: ltr;
    position: absolute;
    left: 15px;
    margin: 0;
    bottom: 15px;
    font-size: 12px;
}

.related_ads{
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    text-align: right;
    direction: rtl;
    margin-bottom: 15px;
}

.related_ads img{
    float: right;
    width: 120px;
    height: 100px;
}

.related_ads div{
    float: right;
    width: 68%;
    padding: 10px 15px 0 0;
}

.related_ads div p{
    font-size: 13px;
    margin: 0 0 10px 0;
    line-height: 24px
}


.related_ads div p a{
    color: #000;
}

.related_ads div span{
    font-size: 14px;
    color: #1b78bc;
    font-weight: bold;
}


.tit_related_ads{
    text-align: right;
    font-size: 18px;
    margin: 30px 0 15px 0;
}


.model_mass .modal-header .close {
    margin: -1rem auto -1rem -1rem;
}

.model_mass .form-group{
    direction: rtl;
    text-align: right;
}

.model_view_page{
    direction: ltr;
}

.option_radio{
    direction: rtl;
    text-align: right;
}

.option_radio .form-check{
    padding: 0;
    margin: 10px 0;
}

.option_radio .form-check .form-check-input{
    margin: 0;
    float: right;
    width: 20px;
    height: 20px;
}

.option_radio .form-check .form-check-label{
    margin: 0 25px 0 0;
}

.option_radio .text_select{
    padding: 0 15px;
    margin: 15px 0 15px 0;
    border: 2px solid #f51c1c;
}

.page_login{
    background: #f5f5f5;
    padding: 30px;
    margin: 15px 0 30px 0;
    direction: rtl;
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.tit_page_login{
    font-size: 18px;
    margin: 30px 0 0 0;
}

.page_login .form-group label{
    font-size: 14px;
}

.page_login  .form-check-input{
    margin: 1px 0 0 10px;
    float: right;
    position: relative;
    width: 20px;
    height: 20px;
}

.page_login .form-check{
    padding: 0;
}

.btn_login{
    display: block;
    width: 100%;
    border: 0;
    background: #1b78bc;
    margin: 15px 0 0 0;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.forget_pass{
    float: left;
    font-size: 14px;
}

.btn_creat_a{
    overflow: hidden;
}

.add_ads_page{
    direction: rtl;
    text-align: right;
    border: 1px solid #ddd;
    padding: 30px;
    overflow: hidden;
    border-radius: 5px;
}

.titi_main_addads{
    font-size: 18px;
    background: #ff0000;
    float: right;
    padding: 15px 0;
    color: #fff;
    margin: 0 0 30px 0;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

ul.select_class{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}
ul.select_class li{

}
ul.select_class li a{
    display: block;
    height: 100px;
    width: 100px;
    border: 2px solid #ff0000;
    text-align: center;
    border-radius: 50px;
    color: #000;
    margin: 0 0 0 10px;
}

ul.select_class li a:active,
ul.select_class li a:hover,
ul.select_class li a:focus{
    border: 2px solid #1b78bc;
}

ul.select_class li a.active{
    border: 2px solid #1b78bc;
}

ul.select_class li a.active i{
    color: #1b78bc;
}

ul.select_class li small{
    display: block;
    width: 100%;
    font-size: 12px;
}

ul.select_class li i{
    display: block;
    font-size: 24px;
    color: #ff0000;
    margin: 15px 0 10px 0;
}

ul.select_class li .form-check-input{

}

.tit_fild{
    margin-top: 55px;
    display: block;
}
.st_form {
    height: 40px;
}

.extra_system .form-check{
    overflow: hidden;
    margin: 0 0 15px 0;
}

.extra_system .form-check-input{
    float: right;
    width: 20px;
    height: 20px;
}

.extra_system .form-check-label{
    float: right;
    margin: 4px 30px 0 0;
}


.avatar-upload {
    position: relative;
    max-width: 110px;
    display: -webkit-inline-box;
    margin: 0 15px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 100%;
    border: 2px solid #f8f8f8;
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.st_add_gallery{
    padding: 30px;
    border: 2px dashed #ddd;
    overflow: hidden;
    text-align: center;
}

.tit_profile{
    text-align: right;
    margin: 15px 0;
    border-bottom: 1px dotted #ddd;
}
.tit_profile h3{
    font-size: 18px;
    margin: 0 0 10px 0;
}
.tit_profile p{
    font-size: 13px;
    line-height: 22px;
}

.aside_tabs_right{
    text-align: right;
}
.aside_tabs_right a.nav-link{
    border: 1px solid #ff0000;
    margin: 0 0 5px 0;
    color: #ff0000;
    padding: 10px 15px
}
.aside_tabs_right .nav-link.active,
.aside_tabs_right .show>.nav-link {
    color: #fff;
    background-color: #ff0000;
}

.content_tabs{
    direction: rtl;
    text-align: right;
}

.content_tabs .card{
    margin: 0 0 5px 0;
}

.content_tabs .btn-link{
    display: block;
    width: 100%;
    text-align: right;
    color: #000;
    font-size: 17px;
    cursor: pointer;
}

.table_select{
    width: 50px;
    text-align: center;
}

.table_ads .form-check-input{
    padding: 0;
    margin: 0;
    position: relative;
    width: 20px;
    height: 20px;
}

.date_table{
    width: 125px;
}
.table_ads tbody tr td{
    font-size: 14px;
}

.det_ads{
    overflow: hidden;
}
.det_ads img{
    width: 80px;
    float: right;
}
.det_ads div{
    float: right;
    width: 80%;
    padding: 0 15px 0 0;
}
.det_ads div h3{
    font-size: 14px;
    line-height: 22px;
}
.det_ads div span{
    font-size: 12px;
    margin: 0 0 0 10px;
}
.det_ads div span i{
    color: #74af4c;
}
.det_ads div span a{
    color: #1b78bc;
}

.active_agein{
    display: block;
    background: #1b78bc;
    color: #fff;
    font-size: 14px;
    padding: 15px 10px;
    text-align: center;
    border-radius: 5px;
    margin: 20px 0 0 0;
}

.change_pass{
    border: 1px solid #ddd;
    direction: rtl;
    text-align: right;
    padding: 30px;
    min-height: 50vh;
    border-radius: 5px;
}

.block_mass_profile{
    text-align: right;
    direction: rtl;
}

.con_mass{
    font-size: 14px;
    padding: 15px !important;
    display: block;
}

.name_send_mass{
    width: 130px !important;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.see_mass{

}
.replay_mass{

}
.delete_mass{

}

.price_list_home{
    background: #1b78bc;
    color: #fff;
    margin: 35px 0 0 0;
    display: block;
    text-align: center;
    padding: 8px 0;
    border-radius: 5px;
    width: 125px;
    float: left;
}

.fa-1x{
    font-size: 28px !important;
}

.title_contact{
    font-size: 18px;
}


/* contact-us page */
.contact-info {
    font-size: 17px;
}

.contact-info a {
    color: #444444;
}

.contact-info p{
    overflow: hidden;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.contact-info p i{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ccc;
    margin-left: 1rem;
    color: #696969;
    float: right;
    text-align: center;
}

.map {
    height: 400px;
}

.img_page img{
    width: 100%;
    border-radius: 5px;
    margin: 0 0 30px 0;
    border: 1px solid #d2d0d0;
}

.des_static_page{

}

.des_static_page h3{
    font-size: 17px;
    font-weight: bold;
}

.des_static_page p{
    font-size: 14px;
    line-height: 28px;
    margin: 0 0 50px 0;
}
.navbar-brand {
    font-size: 16px;
}

.drowpdown-menu-main a.dropdown-item{
    text-align: right;
    font-size: 14px;
    border-bottom: 1px solid #e9e9e9;
    padding: 5px 15px 5px 15px;
}

.drowpdown-menu-main a.dropdown-item:nth-last-child(1){
    border-bottom: 0;
}

.navbar-expand-lg .navbar-nav.nav-main-home li a.nav-link {
    padding: 0 50px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.more-gategory{
    position: static;
}
.more-gategory .drowpdown-menu-main{
    width: 100%;
    direction: rtl;
    text-align: right;
    padding: 15px;
}
.more-gategory .drowpdown-menu-main h3{
    font-size: 17px;
    color: #000;
    font-weight: 500;
}
.more-gategory .drowpdown-menu-main a {
    display: block;
    color: #333;
    padding: 5px 0 5px 0;
    border-bottom: 1px dashed #ddd;
}

.cont_menu .carousel-inner .carousel-item{
    height: 300px;
    overflow: hidden;
    margin: 10px 0;
}
.cont_menu .carousel-inner .carousel-item img{
    min-height:100%;
}

.btn-city{
    background: transparent;
    border: 0;
    margin: 7px 0 0 0;
    font-weight: 500;
    cursor: pointer;
}

.block-city{
    direction: rtl;
    text-align: right;
}

.tit-main-home{
    text-align: center;
    width: 75%;
    margin: 20px auto 25px auto;
}

.view-all-cat{
    overflow: hidden;
}

.view-all-cat a{
    float: right;
    width: 10%;
    border: 1px solid #ddd;
    margin: 5px;
    height: 145px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.view-all-cat a:hover{
    border: 1px solid #000;
}

.view-all-cat a img{
    height: 80px;
    width: auto;
}

.ads-728x90{
    text-align: center;
}
.ads-728x90 img{
    height: auto;
    width: auto;
    margin: 30px 0;
}

.price--ads{
    font-size: 24px;
    color: #f00;
    padding: 10px 0 0 0;
    display: block;
    font-weight: bold;
}

.special--ads{

}

.check--filter{
    overflow: hidden;
    padding: 0;
}
.check--filter .form-check-input{
    width: 20px;
    height: 20px;
    float: right;
}
.check--filter label{
    float: right;
    margin: 2px 30px 0 0;
}

.ads-ben-page{
    margin: 30px 0 30px 0;
    border: 1px solid #ddd;
    max-height: 250px;
    overflow: hidden;
}
.ads-ben-page img{
    width: 100%;
}


/**********  style chat ***********/
#messages-main {
    position: relative;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#messages-main:after,
#messages-main:before {
    content: " ";
    display: table;
}
#messages-main .ms-menu {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #eee;
    padding-bottom: 50px;
    height: 100%;
    width: 30%;
    background: #fff;
}
@media (min-width: 768px) {
    #messages-main .ms-body {
        padding-right: 30%;
    }
}
@media (max-width: 767px) {
    #messages-main .ms-menu {
        height: calc(100% - 58px);
        display: none;
        z-index: 1;
        top: 58px;
    }
    #messages-main .ms-menu.toggled {
        display: block;
    }
    #messages-main .ms-body {
        overflow: hidden;
    }
}
#messages-main .ms-user {
    padding: 15px;
    background: #f8f8f8;
}
#messages-main .ms-user label{
    font-size: 22px;
    margin: 0;
}

#messages-main .ms-user > div {
    overflow: hidden;
    padding: 3px 5px 0 15px;
    font-size: 11px;
}
#messages-main #ms-compose {
    position: fixed;
    bottom: 120px;
    z-index: 1;
    right: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
#ms-menu-trigger {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    padding-right: 10px;
    padding-top: 19px;
}
#ms-menu-trigger i {
    font-size: 21px;
}
#ms-menu-trigger.toggled i:before {
    content: "\f2ea";
}
.fc-toolbar:before,
.login-content:after {
    content: "";
}
.message-feed {
    padding: 20px;
    direction: ltr;
    border-top: 1px solid #eee;
}
#footer,
.fc-toolbar .ui-button,
.fileinput .thumbnail,
.four-zero,
.four-zero footer > a,
.ie-warning,
.login-content,
.login-navigation,
.pt-inner,
.pt-inner .pti-footer > a {
    text-align: center;
}
.message-feed.right > .pull-right {
    margin-left: 15px;
}
.message-feed:not(.right) .mf-content {
    background: #c4dbfa;
    color: #000;
    float: left;
    max-width: 70%;
    margin: 0 0 0 15px;
}
.message-feed.right .mf-content {
    background: #eee;
}
.mf-content {
    padding: 12px 17px 13px;
    border-radius: 10px;
    display: inline-block;
    max-width: 80%;
}
.mf-date {
    display: block;
    color: #b3b3b3;
    margin-top: 7px;
}
.mf-date > i {
    font-size: 14px;
    line-height: 100%;
    position: relative;
    top: 1px;
}
.msb-reply {
    box-shadow: 0 -20px 20px -5px #fff;
    position: relative;
    margin-top: 30px;
    border-top: 1px solid #eee;
    background: #f8f8f8;
}
.four-zero,
.lc-block {
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
}
.msb-reply textarea {
    width: 100%;
    font-size: 13px;
    border: 0;
    padding: 10px 15px;
    resize: none;
    height: 60px;
    background: 0 0;
}
.msb-reply button {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    height: 100%;
    width: 60px;
    font-size: 25px;
    color: #2196f3;
    background: 0 0;
}
.msb-reply button:hover {
    background: #f2f2f2;
}
.img-avatar {
    height: 37px;
    border-radius: 25px;
    width: 37px;
    border: 1px solid #ddd;
}
.list-group.lg-alt .list-group-item {
    border: 1px solid rgb(0 0 0 / 6%);
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.list-group.lg-alt .list-group-item.active {
    background: #eee;
}
.list-group.lg-alt .list-group-item:hover{
    background: #eee;
}
.p-15 {
    padding: 15px !important;
}
.btn:not(.btn-alt) {
    border: 0;
}
.action-header {
    position: relative;
    background: #f8f8f8;
    padding: 15px 13px 15px 17px;
}
.ah-actions {
    z-index: 3;
    float: left;
    margin-top: 7px;
    position: relative;
}
.actions {
    list-style: none;
    padding: 0;
    margin: 0;
}
.actions > li {
    display: inline-block;
}

.actions:not(.a-alt) > li > a > i {
    color: #000;
}
.actions > li > a > i {
    font-size: 20px;
}
.actions > li > a {
    display: block;
    padding: 0 10px;
}
.ms-body {
    background: #fff;
}
#ms-menu-trigger {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    padding-right: 10px;
    padding-top: 19px;
    cursor: pointer;
}
#ms-menu-trigger,
.message-feed.right {
    text-align: right;
}
#ms-menu-trigger,
.toggle-switch {
    -webkit-user-select: none;
    -moz-user-select: none;
}

.snippets .media-body{
    color:#000;
}
.snippets .media-body .list-group-item-heading{

}
.snippets .media-body .list-group-item-text{
    font-size: 16px;
    font-weight: 500;
}

.message-feed.media .mf-date{
    float: left;
    width: 100%;
    text-align: left;
    margin: 0 0 5px 15px;
}

.content-chat,
.content-right-chat{
    height: 625px;
    overflow-y: scroll;
}


.dropdown-menu-chat{
    padding: 15px;
}

.dropdown-menu-chat a{
    text-align: right;
    display: block;
    padding: 5px 5px;
    color: #000;
}

.important-user{
    position: relative;
}
.important-user span{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #68baff;
    color: #fff;
    font-size: 12px;
    padding: 0 10px;
}

.see-ads-chat a{
    background: #00aef1;
    padding: 7px 15px;
    border-radius: 25px;
    margin: 0 15px 0 0;
    font-weight: bold;
    color: #fff;
}
.see-ads-chat a:hover{
    background: #007bab;
}


.remove-from-fav a{
    position: absolute;
    left: 0;
    background: rgb(0 0 0 / 42%);
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0 0 10px 0;
    color: #fff;
}
.remove-from-fav a:hover{
    background: rgb(0 0 0 / 60%);
}


.nu-not{
    float: left;
    width: 24px;
    height: 24px;
    background: #f00;
    color: #fff;
    text-align: center;
    border-radius: 25px;
}

.not--box{
    background: #eee;
    display: block;
    padding: 20px;
    color: #000;
    margin: 0 0 30px 0;
}
.not--box h3{
    font-size: 17px;
    font-weight: bold;
}
.not--box p{
    padding: 0;
    margin: 0;
}